<html>
<head>
        <title> {{.title}} - Wyther's Blog Docs </title>
        <meta charset="utf-8">

        <script>
                window.location.replace(`https://wytherblog.top${decodeURI({{ .url }})}`);
        </script>
</head>
<body>
        <!--TODO: add more searchable tags-->
        <article />
</body>
</html>